<div class="js-canvas-container c-canvas-container">
    <span class="c-canvas-wrapper">
        <canvas class="js-canvas c-canvas"></canvas>
        <span class="c-cursor-pos js-cursor-pos"></span>
    </span>

    <div class="c-canvas__size c-dimensions">
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="c-dimensions__input js-canvas-size" data-canvas-size="width" value="100">
        <span>,</span>
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="c-dimensions__input js-canvas-size" data-canvas-size="height" value="100">
    </div>
</div>