<div class="js-canvas-container c-canvas-container">
    <canvas class="js-canvas c-canvas"></canvas>

    <div class="c-canvas__size c-dimensions">
        <input type="text" class="c-dimensions__input js-canvas-size" data-canvas-size="width" value="100">
        <span>,</span>
        <input type="text" class="c-dimensions__input js-canvas-size" data-canvas-size="height" value="100">
    </div>
</div>