<div class="c-context-menu js-context-menu">
  <div class="c-context-menu__name js-context-menu-fig-name">Figure name(soon)</div>

  <ul class="c-context-menu__options">
    <li class="c-context-menu__option">
      <button class="c-btn c-btn--block js-current-fig-fc">
        <div class="c-btn__wrap">
          Change fill color
        </div>
      </button>
    </li>

    <li class="c-context-menu__option">
      <button class="c-btn c-btn--block js-current-fig-sc">
        <div class="c-btn__wrap">
         Change stroke color
        </div>
      </button>
    </li>

    <li class="c-context-menu__option">
      <button class="c-btn c-btn--block js-current-fig-sw">
        <div class="c-btn__wrap">
          Change stroke width
        </div>
      </button>
    </li>

    <li class="c-context-menu__option">
      <button class="c-btn c-btn--block js-current-fig-del">
        <div class="c-btn__wrap">
          Delete figure
        </div>
      </button>
    </li>
  </ul>
</div>