<div class="c-dimensions">
    <h3 class="t-head t-head--standard">Canvas Size</h3>

    <label class="c-dimensions__label">Width: 
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="c-dimensions__input js-canvas-size" data-canvas-size="width" value="100">
    </label>

    <label class="c-dimensions__label">Height: 
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="c-dimensions__input js-canvas-size" data-canvas-size="height" value="100">
    </label>
</div>