<div class="c-menu-bar js-menu-bar">
    <h1 class="c-logo c-menu-bar__logo">CanvaSVG</h1>
    <ul class="c-menu-bar__main">
        <li class="c-menu-bar__el js-has-dropdown" data-lvl="1">
            <span class="c-menu-bar__label js-label">Home</span>

            <div class="c-menu-bar__dropdown js-dropdown">
                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">About canvaSVG</li>

                    <li class="c-menu-bar__el">
                        <a href="https://github.com/canvaSVG" class="c-btn c-btn--menu-bar">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Github repository</span>
                            </span>
                        </a>
                    </li>

                    <li class="c-menu-bar__el">
                        <a href="https://simpsonphile.github.io" class="c-btn c-btn--menu-bar">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Author website</span>
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-modal-trigger" data-modal="generate-svg">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Generate SVG code</span>
                            </span>
                        </button>

                        <span class="c-menu-bar__hint">crtl + shift + g</span>
                    </li>

                    <li class="c-menu-bar__el">
                        <span>Download SVG file</span>
                        <span class="c-menu-bar__hint">crtl + shift + g</span>
                    </li>
                </ul>

                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-modal-trigger" data-modal="svg-size"
                            data-modal-positioned>
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Change SVG dimensions</span>
                            </span>
                        </button>

                        <span class="c-menu-bar__hint">crtl + shift + g</span>
                    </li>
                </ul>
            </div>
        </li>

        <li class="c-menu-bar__el js-has-dropdown" data-lvl="1">
            <span class="c-menu-bar__label js-label">Edit</span>

            <div class="c-menu-bar__dropdown js-dropdown">
                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-history-undo is-disabled">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Undo</span>
                            </span>
                        </button>

                        <span class="c-menu-bar__hint">crtl + z</span>
                    </li>

                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-history-redo is-disabled">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Redo</span>
                            </span>
                        </button>

                        <span class="c-menu-bar__hint">crtl + y</span>
                    </li>
                </ul>

                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-reset-canvas">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Reset Canvas</span>
                            </span>
                        </button>

                        <span class="c-menu-bar__hint">crtl + shift + x</span>
                    </li>
                </ul>
            </div>
        </li>

        <li class="c-menu-bar__el js-has-dropdown" data-lvl="1">
            <span class="c-menu-bar__label js-label">Actions</span>

            <div class="c-menu-bar__dropdown js-dropdown">
                <ul class="c-menu-bar__list">
                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-btn-reset-fig">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Reset current figure</span>
                            </span>
                        </button>
                    </li>

                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-btn-lay-fig">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Lay current figure</span>
                            </span>
                        </button>
                    </li>

                    <li class="c-menu-bar__el">
                        <button class="c-btn c-btn--menu-bar js-generate-svg js-btn-close-fig">
                            <span class="c-btn__wrap">
                                <span class="c-btn__label">Close current figure</span>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </li>

        <li class="c-menu-bar__el">
            <span class="c-menu-bar__label">Help</span>
        </li>
    </ul>
</div>
