<nav class="c-toolkit">
    <button class="c-btn c-btn--toolkit c-btn--t1 js-btn-reset-fig">
        <span class="c-btn__wrap">
            RESET
        </span>
    </button>

  <button class="c-btn c-btn--toolkit c-btn--t1 js-btn-lay-fig">
      <span class="c-btn__wrap">
          LAY
      </span>
  </button>

  <button class="c-btn c-btn--toolkit c-btn--t1 js-btn-close-fig">
      <span class="c-btn__wrap">
          CLOSE
      </span>
  </button>
</nav>
