<nav class="c-toolkit">
    <button class="c-toolkit__btn c-btn c-btn--toolkit c-btn--t2 js-btn-reset-fig">
        <span class="c-btn__wrap">
            R
        </span>
    </button>

  <button class="c-toolkit__btn c-btn c-btn--toolkit c-btn--t2 js-btn-lay-fig">
      <span class="c-btn__wrap">
          L
      </span>
  </button>

  <button class="c-toolkit__btn c-btn c-btn--toolkit c-btn--t2 js-btn-close-fig">
      <span class="c-btn__wrap">
          C
      </span>
  </button>
</nav>
