{% extends "modal.twig" %}

{% block modalTop %}
  Change Stroke Size
{% endblock %}

{% block modalContent %}
  <input type="number" class="js-stroke-width-input" max="8" min="1" step="1" value="1">
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-btn--primary c-btn--t1 c-modal__btn js-modal-close">OK</button>
{% endblock %}