{% extends "modal.twig" %}

{% block modalTop %}
  Generated SVG Code
{% endblock %}

{% block modalContent %}
  <textarea class="js-generated-svg-code" cols="30" rows="10"></textarea>
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-btn--primary c-btn--t1 c-modal__btn js-modal-close">OK</button>
  <button class="c-btn c-btn--primary c-btn--t1 c-modal__btn js-copy">copy</button>
{% endblock %}