{% extends "modal.twig" %}

{% block modalTop %}
  Pick Color
{% endblock %}

{% block modalContent %}
  <div class="js-color-wheel"></div>

  <span class="f-control--toggle c-hint" data-hint-txt="when enabled shapes will be filled with color">
      <input type="checkbox" class="js-toggle-fill" id="js-toggle-fill">
      <label for="js-toggle-fill">Toggle fill</label>
      <span class="f-control--toggle__txt">Fill Mode</span>
  </span>
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-btn--primary c-btn--t2 c-modal__btn js-modal-close">OK</button>
{% endblock %}