{% extends "modal.twig" %}

{% block modalTop %}
  Pick Color
{% endblock %}

{% block modalContent %}
  <div class="js-color-wheel"></div>
  <div class="color-picker"></div>

  <span class="u-flex u-flex-column u-align-items-center u-fit-content c-hint" data-hint-txt="when enabled shapes will be filled with color">
    <label class="c-switch">
      <input type="checkbox" class="c-switch__input js-toggle-fill" id="js-toggle-fill">
      <span class="c-switch__slider"></span>
    </label>
      <label for="js-toggle-fill">Toggle fill</label>
  </span>
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-btn--primary c-btn--t2 c-modal__btn js-modal-close">OK</button>
{% endblock %}