{% extends "modal.twig" %}

{% block modalTop %}
  Generated SVG Code
{% endblock %}

{% block modalContent %}
  <textarea class="js-generated-svg-code" cols="30" rows="10"></textarea>
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-modal__btn js-modal-close">close</button>
  <button class="c-btn c-modal__btn js-copy">copy</button>
{% endblock %}