<div class="c-modal js-modal u-hidden" data-modal="{{modalID}}">
  <span class="c-modal__bg"></span>
  <div class="c-modal__container">
    <div class="c-modal__top">
      <h2 class="t-head t-head--m c-modal__title">
        {% block modalTop %}  {% endblock %}
      </h2>

      <button class="c-btn c-modal__close js-modal-close">
        <span class="c-btn__wrap">
            <span class="c-btn__ico c-btn__ico--solo">
                <svg class="o-ico o-ico--tool">
                    <use xlink:href="static/img/symbol/svg/sprite.symbol.svg#close"></use>
                </svg>
            </span>
        </span>
      </button>
    </div>

    <div class="c-modal__content js-modal-content">
      {% block modalContent %}  {% endblock %}
    </div>

    <div class="c-modal__bot js-modal-bottom">
      {% block modalBot %}  {% endblock %}
    </div>
  </div>
</div>