{% extends "modal.twig" %}

{% block modalTop %}
  Pick Color
{% endblock %}

{% block modalContent %}
  <div class="js-color-wheel"></div>
{% endblock %}

{% block modalBot %}
  <button class="c-btn c-btn--primary c-btn--t2 c-modal__btn js-modal-close">OK</button>
{% endblock %}