<nav class="c-toolkit">
    <button class="c-btn c-btn--toolkit c-toolkit__btn js-modal-trigger js-color-for" data-modal="color" data-color-for="fill">c</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn js-modal-trigger js-color-for" data-modal="color" data-color-for="stroke">sc</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn js-stroke-width">sw</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="arc">c</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="rec">r</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="line">line</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="poly">poly</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="curve">curve</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="scurve">S</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn js-generate-svg js-modal-trigger" data-modal="generate-svg">svg</button>
    <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn js-reset-canvas">reset</button>
</nav>
