<nav class="c-toolkit">
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-modal-trigger js-color-for" data-hint-txt="Change fill color" data-modal="color" data-color-for="fill">c</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-modal-trigger js-color-for" data-hint-txt="Change stroke color" data-modal="color" data-color-for="stroke">sc</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-stroke-width" data-hint-txt="Change stroke width">sw</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="arc" data-hint-txt="Elipse shape">c</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="rec" data-hint-txt="Rectangle shape">r</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="line" data-hint-txt="Line shape">line</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="poly" data-hint-txt="Polyline shape">poly</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="curve" data-hint-txt="Bezier Curve shape">curve</button>
    <button class="c-btn c-btn--toolkit c-btn--t2 c-hint js-fig" data-fig="scurve" data-hint-txt="Elipse shape">S</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-generate-svg js-modal-trigger" data-modal="generate-svg" data-hint-txt="Generate svg code">svg</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-reset-canvas" data-hint-txt="Clear canvas">reset</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-history-undo is-disabled" data-hint-txt="Undo last figure">UNDO</button>
    <button class="c-btn c-btn--toolkit c-btn--t3 c-hint js-history-redo is-disabled" data-hint-txt="Redo last undone figure">REDO</button>

    <div class="f-control--toggle">
        <input type="checkbox" class="js-toggle-fill" id="js-toggle-fill">
        <label for="js-toggle-fill">Toggle fill</label>
        <span class="f-control--toggle__txt">Fill Mode</span>
    </div>
</nav>
