<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {{ index.title }} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {% include "head/head-links.twig" %}
    </head>
    <body>
        <main class="l-main">
            <nav class="c-toolkit">
                <button class="c-btn c-btn--toolkit c-toolkit__btn js-fill">c</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn js-stroke-width">sw</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn js-stroke">sc</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="arc">c</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="rec">r</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn--fig js-fig" data-fig="line">line</button>
                <button class="c-btn c-btn--toolkit c-toolkit__btn c-toolkit__btn js-generate-svg">svg</button>
            </nav>

            <div class="c-settings u-hidden js-fill-settings">

            </div>

            <div class="js-canvas-container c-canvas-container">
                <canvas class="js-canvas c-canvas"></canvas>
            </div>
        </main>

        <script defer src="./static/js/app.js"></script>
    </body>
</html>
