<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>SVGCanva</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 user-scalable=no">
        {% include "head/head-links.twig" %}
    </head>
    <body>
        <main class="l-main">
            <div class="l-app">
                <div class="l-app__sidebar">
                     {% include "partials/layouts/toolkit.twig" %}
                </div>

                <div class="l-app__canvas js-canvas-window">
                    {% include "partials/layouts/canvas.twig" %}
                </div>

                <div class="l-app__mobile-toolkit">
                    {% include "partials/layouts/mobile-toolkit.twig" %}
                </div>
            </div>

            {% include "partials/layouts/settings-stroke-width.twig" with {"modalID": "stroke-width"} %}
            {% include "partials/layouts/settings-svg-size.twig" with {"modalID": "svg-size"} %}

            {% include "partials/layouts/modal-generate-svg.twig" with {"modalID": "generate-svg"} %}
        </main>

        <script defer src="./static/js/app.js"></script>
    </body>
</html>
