<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {{ index.title }} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {% include "head/head-links.twig" %}
    </head>
    <body>
        <main class="l-main">
            {% include "partials/layouts/toolkit.twig" %}
            {% include "partials/layouts/modal-generate-svg.twig" with {"modalID": "generate-svg"} %}
            {% include "partials/layouts/canvas.twig" %}
            <div class="c-settings u-hidden js-fill-settings">

            </div>

            
        </main>

        <script defer src="./static/js/app.js"></script>
    </body>
</html>
