.f-field {
    position: relative;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @include media("<=m") {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--block {
        .f-label {
            margin-bottom: 5px;
        }
    }

    &--inline {
        @extend %display-flex;
        @extend %align-items-center;
        @extend %justify-content-flex-start;

        @include media("<=m") {
            display: block;
        }

        .f-label {
            margin-right: 20px;

            @include media("<=m") {
                margin-bottom: 10px;
            }
        }

        .f-control-wrapper,
        .f-control {
            @include media("<=m") {
                margin: 0 auto;
            }
        }
    }
}