.c-canvas-container {
  position: relative;
  align-items: flex-start;
  justify-content: center;

  display: flex;

  height: 100%;

  @include media('<=t') {
    align-items: flex-start;
  }
}

.c-canvas-wrapper {
  position: relative;
}

.c-canvas {
  border: 1px solid $color_white;
  background: rgba($color_white, .1);
}
