.c-canvas-container {
  position: relative;
  align-items: center;
  justify-content: center;

  display: flex;

  height: 100%;
}

.c-canvas-wrapper {
  position: relative;
}

.c-canvas {
  border: 1px solid $color_white;
  background: rgba($color_white, .1);
}
